<h1>User: <%= @user[:username] %></h1>

<h2>Created Events:</h2>
<% if @events.empty? %>
        <p>No events.</p>
<% else %>
    <% @events.each do |event| %>
        <p><%= event[:event_name] %></p>
    <% end %>
<% end %>

<h2>Registered Events:</h2>

<div class='user_events'>
    <div class='event_div'>
        <h3>Past Events</h3>
        <% if @attended_events.past.empty? %>
            <p>No events.</p>
        <% else %>
            <% @attended_events.past.each do |event| %>
                 <p><%= event[:event_name] %></p>
            <% end %>
        <% end %>
    </div>
    <div class='event_div'>
        <h3>Upcoming Events</h3>
        <% if @attended_events.future.empty? %>
            <p>No events.</p>
        <% else %>
            <% @attended_events.future.each do |event| %>
                 <p><%= event[:event_name] %></p>
            <% end %>
        <% end %>
    </div>
</div>