<h1>Index</h1>
<% if !user_signed_in? %>
    <%= link_to 'Sign In', new_user_session_path %>
<% else %>
    <%= link_to 'Log Out', destroy_user_session_path, data: {turbo_method: :delete} %>
<% end %>
<div id='content'>
    <div id='users'>
        <h2>Users:</h2>
        <% if @users.empty? %>
            <p>No users.</p>
        <% else %>
            <ul>
                <% @users.each do |user| %>
                    <li><%= user[:username] %></li>
                <% end %>
            </ul>
        <% end %>
    </div>
    <div id='events'>
        <h2>Events:</h2>
        <% if @events.empty? %>
            <p>No events.</p>
        <% else %>
            <ul>
                <% @events.each do |event| %>
                    <li><%= event[:event_name] %></li>
                <% end %>
            </ul>
        <% end %>
    </div>
</div>
